{% extends 'base.html' %}
{% block container %}

<table class="ui celled striped large table">
    {% for item in items %}
    <tr>
        <td class="ui fluid">
            <a href="{{filename}}/{{item.basename}}">
                {% if item.type == 'dir' %}
                <i class="folder icon"></i>
                {% else %}
                <i class="file icon"></i>
                {% endif %}
                {{ item.basename }}
            </a>
        </td>
        <td class="right aligned">
            <div class="ui metadata">{{ item.mtime.strftime("%Y-%m-%d %H:%M:%S") }}</div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block js %}
{% endblock %}